html {
  font-size: 62.5%;
  background-color: #f6d689;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  font-family: jura;
}

.calculator {
  display: grid;
  place-items: center;
}

.calculator-keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3px;
  grid-gap: 3px;
}
button {
  background-color: #1b1d2d;
  color: #f6d689;
  border-radius: 10px;
  font-size: 8vw;
  font-family: jura;
}
.equal-sign {
  color: #fff;
  grid-row-start: 2;
  grid-row-end: 6;
  grid-column-start: 4;
  grid-column-end: 5;
}
.operator {
  color: #7b4853;
}

.calculator-screen {
  background-color: #a2a182;
  color: #1b1d2d;
  height: 8vw;
  width: 44vw;
  font-size: 8vw;
  padding: 2vw;
}
.mid {
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  padding: 1vw;
  font-size: 8vw;
  font-weight: bolder;
  display: flex;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 3vw;
}

footer a,
p {
  margin: 1vw;
}
